.DS_Store
.HW1/__pycache__/hw1.cpython-312.pyc
HW2/__pycache__/hw2.cpython-312.pyc
HW1/__pycache__/hw1.cpython-312.pyc
agaricus-lepiota.csv
HW1/hw1_209954445_330072489.zip
HW1/hw1.pdf
.gitignore
HW1/__pycache__/hw1.cpython-312.pyc
HW1/__pycache__/hw1.cpython-312.pyc
__pycache__/hw2_.cpython-312.pyc
HW2/theoretical_2.pdf
HW2/theoretical_hw2.pdf
.gitignore
HW1/__pycache__/hw1_cha.cpython-312.pyc
HW3/WhatsApp Image 2025-05-23 at 11.44.30.jpeg
